<%-include('header') %>
  <body>
    <%-include('nav') %>
    <div class="container">
      <div class="row mt-5">
        <div class="col m-5">
          <h1><%= title %></h1>
          <p><%= message %></p>
          <form method="post" action="/">
            <input
              type="text"
              class="form-control w-10"
              id="participantID"
              name="participantID"
              placeholder="participantID"
            required/>
            <input type="submit" class="btn btn-primary mt-2" />
          </form>
        </div>
      </div>
    </div>
  </body>
</html>
