<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <link rel="stylesheet" href="/stylesheets/index.css" />
  </head>
  <body>
    <div class="card-finish">
      <h1>
        以上で実験は終了です．<br />
        お疲れ様でした．
      </h1>
      <button onclick="history.back();">前の回答に戻る</button>'
    </div>
  </body>
</html>
