<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <link rel="stylesheet" href="/stylesheets/index.css" />
  </head>
  <body>
    <script>
      function onclick() {
        window.location = "";
      }
    </script>
    <div class="card-start">
      <h1>
        「開始」ボタンを押して<br />
        実験を開始してください。
      </h1>
      <!-- fixme -->
      <a href="form?id=1"><button>開始</button></a>
    </div>
  </body>
</html>
